/* Wrapper */
#header-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    max-width: fit-content;
    overflow: hidden;
    position: relative;
}

.scene 
{
    position: relative;
    width: 100%;
    height: auto;
    overflow: visible;
    padding-bottom: 2rem;
}

.scene img 
{
    width: 100%;
    height: auto;
    display: block;
    z-index: 0;
}

.background,
.overlay 
{
    width: 100%;
    height: auto;
    display: block;
    pointer-events: none;
}

.background
{
    position: relative;
}

.overlay 
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: inherit;
    height: auto;
}

.layer
{
    max-width: 100%;
}

/* Topbar container */
.topbar-div 
{
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: inherit;
    z-index: 5;

    overflow: visible;
}

/* Navigation list styling */
.nav 
{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    gap: clamp(0.25rem, 1vw, 1rem);
    margin: 0;
    padding: 0;
}

.nav a 
{
    color: #000000;
    text-decoration: none;
    font-family: "Segoe UI", Arial, sans-serif;
    text-align: center;
    font-size: clamp(0.8rem, 1vw + 0.5rem, 1.25rem);
    padding: clamp(0.5rem, 0.5vw, 0.8rem) clamp(0.5rem, 1vw, 1rem);
    border-radius: 6px;
    transition: background 0.3s, color 0.3s;
}

.nav a:hover, .dropdown:hover .dropBtn
{
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    cursor: pointer;
}

/* Active tab styling */
.nav a.active 
{
    background: #a28655c6;
    color: #0c84bb;
    font-weight: bold;
}

.dropdown 
{
  float: left;
  overflow: hidden;
  font-family: "Segoe UI", Arial, sans-serif;
}

/* Dropdown button */
.dropdown .dropBtn 
{
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content 
{
  display: none;
  position: absolute;
  overflow-y: inherit;
  left: 10%;
  right: 0;
  justify-content: center;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a 
{
    float: none;
    color: #000000;
    text-decoration: none;
    font-family: "Segoe UI", Arial, sans-serif;
    text-align: center;
    font-size: clamp(0.8rem, 1vw + 0.5rem, 1.25rem);
    padding: clamp(0.5rem, 0.5vw, 0.8rem) clamp(0.5rem, 1vw, 1rem);
    border-radius: 6px;
    transition: background 0.3s, color 0.3s;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover 
{
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content 
{
  display: block;
}