/* TO DO: Fill out header stylesheet */
header{display: block;}

.topbar 
{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.topbar li 
{
    margin: 0;
}

.topbar li a 
{
    display: block;
    height: 25px;
    padding: 15px 12px;
    margin: 5px;
    text-decoration: none;
    color: #000;
    text-align: center;
}

.topbar li a:hover 
{
    background-color: #eff;
}